body {
  background-color: rgb(4, 31, 37);
}

.screen2 {
  height: 100vh;
  overflow-y: scroll;
}

.screen2::-webkit-scrollbar {
    display: none;
}

.movie {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.image2 {
  width: 50%;
  min-width: 250px;
  max-height: 60vh;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(311, 311, 311, 0.2), 0 6px 20px 0 rgba(311, 311, 311, 0.19);
}

.movie-name {
  position: relative;
  margin-top: 10px;
}

.summary {
  font-size: large;
  font-family: serif;
  line-height: 1.6;
  color: white;
}

.streaming {
  color: white;
  font-family: serif;
  font-size: small;
}

.info-btn {
  width: 8rem;
  border: none;
  border-radius: 5px;
  background-color: lightgrey;
  cursor: pointer;
}

.more-text
{
    color: white;
}
