.screen2
{
    background-color: rgba(311, 311, 311, 0.2);
    height: 100vh;
}

.movie
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image
{
    width: 100%;
    max-height: 70vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.details
{
    width: 100%;
    border: 2px solid grey;
    border-top: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
}

.movie-name
{
    position: relative;
    margin-top: 10px;
}

.btn
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: large;
    background-color: cornflowerblue;
}