.screen1 {
  height: 100vh;
  overflow-y: scroll;
}

.screen1::-webkit-scrollbar {
  display: none;
}

.title {
  color: white;
  font-family: serif;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
}

.contents {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  min-width: 220px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.genre {
  font-size: x-small;
}

.rating {
  float: right;
}

.image {
  cursor: pointer;
  max-height: 30vh;
  min-width: 250px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
