.body {
  overflow-y: scroll;
  flex-wrap: nowrap;
}

.body::-webkit-scrollbar {
  display: none;
}

/* .main-text {
  background-image: linear-gradient(to right, white, transparent);
} */

.title {
  font-size: 50px; 
  color: white;
  text-shadow: 1px 1px;
  font-family: serif;
}

.contents {
  width: 100%;
  justify-content: left;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  position: relative;
}

.contents::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 300px;
  max-height: 200px; 
  margin-left: 2px;
  margin-right: 2px;
  border: 0px;
  border-radius: 20px;
}

.image {
  cursor: pointer;
  min-width: 300px;
  max-height: 200px;
  border-radius: 10px;
}

.scroll-arrow {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  position: -webkit-sticky;
  position: sticky;
  left: 2px;
  z-index: 1;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.left-arrow {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  left: 0;
  margin-left: -6px; 
}

.right-arrow {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  right: 0;
  margin-left: -6px;
  transform: rotate(180deg);
}

.scroll-arrow:hover {
  cursor: pointer;
  /* opacity: 0.8; */
}

.scroll-arrow2 {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  position: -webkit-sticky;
  position: sticky;
  right: 2px;
  z-index: 1;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.scroll-arrow2:hover {
  cursor: pointer;
  /* opacity: 0.8; */
}

.movie-type {
  font-size: x-large;
  font-family: sans-serif;
}
